bidict==0.23.1
dnspython==2.6.1
eventlet==0.36.1
greenlet==3.0.3
h11==0.14.0
netifaces==0.10.6
python-engineio==4.9.1
python-socketio==5.11.3
setuptools==3.3
simple-websocket==1.0.0
socketio==0.2.1
wsproto==1.2.0